body{
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}
.registerContainer {
  width: 100%;
  height: 100vh;
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.registerWrapper {
  width: 80%;
  /* height: 70%; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.textRegister {
  display: flex;
  flex-direction: column;
}
.texts {
  font-size: 50px;
  font-weight: 900;
  color: #1775ee;
  margin-bottom: 10px;
}
.desc {
  font-size: 24px;
}
.registerform {
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 50%;
}
.registerInput {
  height: 50px;
  border-radius: 10px;
  border: 1px solid grey;
  font-size: 18px;
  padding-left: 20px;
  margin-bottom: 10px;
}
.registerInput:focus {
  outline: none;
}
#signup {
  color: white;
  background-color: #1775ee;
  font-weight: 500;
  font-size: 20px;
}
#loginto {
  color: white;
  background-color: #42b72a;
  font-weight: 500;
  font-size: 20px;
  width: 50%;
  margin: 0 auto;
}
.bottom-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .registerWrapper {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .textRegister {
    text-align: center;
  }

  .texts {
    font-size: 35px;
    font-weight: 700;
    color: #1775ee;
    margin-bottom: 5px;
  }

  .desc {
    font-size: 16px;
  }

  .registerform {
    border-radius: 5px;
    padding: 0px 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 75%;
  }

  .registerInput {
    height: 35px;
    border-radius: 5px;
    border: 1px solid grey;
    font-size: 14px;
    /* padding-left: 20px; */
    margin-bottom: 5px;
  }

  .registerInput:focus {
    outline: none;
  }

  #signup {
    color: white;
    background-color: #1775ee;
    font-weight: 500;
    font-size: 16px;
    padding: 0 0 10px 0;
    margin-top: 20px;
  }
  .link{
    font-size: 14px;
    text-decoration: underline;
    text-align: center;
    align-self: center;
  }
  

  #loginto {
    color: white;
    background-color: #42b72a;
    font-weight: 500;
    font-size: 20px;
    width: 50%;
    margin: 0 auto;
  }
}
